.limit-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.limit-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.prod-image {
  max-height: 300px;
  overflow: hidden;
}
.prod-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.heaaa {
  padding: 20px;
}
